@import "../variables-and-mixins/";
.parallax1 {
  position: relative;
  background-image: url("https://folkstory.com/images3/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  .black-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include background-black;
  }
}
.parallax2 {
  background-color: yellow;
  height: 100px;
  width: 200px;
  position: relative;
  margin: 0 auto;
  top: 200px;
}
